// Here you can add other styles
.DatePicker {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cui-input-color, var(--cui-body-color));
    appearance: none;
    background-color: var(--cui-input-bg, var(--cui-body-bg));
    background-clip: padding-box;
    border: var(--cui-border-width) solid var(--cui-input-border-color, var(--cui-border-color));
    border-radius: var(--cui-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.DatePicker:focus {
    color: var(--cui-input-focus-color, var(--cui-body-color));
    background-color: var(--cui-input-focus-bg, var(--cui-body-bg));
    border-color: var(--cui-input-focus-border-color, #998fed);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(50, 31, 219, 0.25);
}